<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sportman &#8211; Demo General</title>
	<atom:link href="http://demo.massivedynamic.co/general/tag/sportman/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.massivedynamic.co/general</link>
	<description>Built By Massive Dynamic Theme</description>
	<lastBuildDate>Thu, 21 Jul 2016 09:05:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Running to happines</title>
		<link>http://demo.massivedynamic.co/general/running-to-happines/</link>
		<comments>http://demo.massivedynamic.co/general/running-to-happines/#respond</comments>
		<pubDate>Sat, 15 Aug 2015 09:06:07 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Gym]]></category>
		<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Shoes]]></category>
		<category><![CDATA[Sport]]></category>
		<category><![CDATA[Sportman]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=123</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791dfe245123"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfe245123 = $("#rowCustom-5791dfe245123");

                $rowCustom_5791dfe245123.find('.row-image').remove();

                $rowCustom_5791dfe245123.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfe245123.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfe245123.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfe245123 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfe245123 = $('#rowCustom-5791dfe245123');
                    if($rowCustom_5791dfe245123.find('.sloped-edge').length){
                        $rowCustom_5791dfe245123.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791dfe24595d .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791dfe24595d{
        text-align:     left;

    }
    .md_text_style-5791dfe24595d .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791dfe24595d .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791dfe24595d .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791dfe24595d .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791dfe24595d .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791dfe24595d  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfe245123 = $('#rowCustom-5791dfe245123');
                if ( "1" )
                {
                    $rowCustom_5791dfe245123.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfe245123.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfe245123.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfe245123.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfe245123').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfe245123"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfe245123{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfe245123{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfe245123:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791dfe246190"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfe246190 = $("#rowCustom-5791dfe246190");

                $rowCustom_5791dfe246190.find('.row-image').remove();

                $rowCustom_5791dfe246190.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfe246190.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfe246190.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfe246190 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfe246190 = $('#rowCustom-5791dfe246190');
                    if($rowCustom_5791dfe246190.find('.sloped-edge').length){
                        $rowCustom_5791dfe246190.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791dfe2466d8" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfe2466d80 cover" data-height="900" data-width="1260"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfe2466d80"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfe2466d80 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/Event-7-body-building-man1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfe2466d8 .imgBox-image,
                            #imageBoxSlider-5791dfe2466d8 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfe2466d8 .imgBox-image.image-imageBoxSlider-5791dfe2466d80 {
                            background-size: cover;
                        }

                    </style>

                </li>

                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfe2466d81 cover" data-height="900" data-width="1260"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfe2466d81"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfe2466d81 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/Event-5-Bicept-man1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfe2466d8 .imgBox-image,
                            #imageBoxSlider-5791dfe2466d8 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfe2466d8 .imgBox-image.image-imageBoxSlider-5791dfe2466d81 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791dfe2466d8", "380");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfe246190 = $('#rowCustom-5791dfe246190');
                if ( "1" )
                {
                    $rowCustom_5791dfe246190.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfe246190.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfe246190.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfe246190.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfe246190').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfe246190"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfe246190{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfe246190{
        /* Set padding */
        padding-top:65px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfe246190:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791dfe248c85"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfe248c85 = $("#rowCustom-5791dfe248c85");

                $rowCustom_5791dfe248c85.find('.row-image').remove();

                $rowCustom_5791dfe248c85.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfe248c85.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfe248c85.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfe248c85 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfe248c85 = $('#rowCustom-5791dfe248c85');
                    if($rowCustom_5791dfe248c85.find('.sloped-edge').length){
                        $rowCustom_5791dfe248c85.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791dfe2493ea .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791dfe2493ea{
        text-align:     left;

    }
    .md_text_style-5791dfe2493ea .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791dfe2493ea .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791dfe2493ea .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791dfe2493ea .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791dfe2493ea .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791dfe2493ea  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfe248c85 = $('#rowCustom-5791dfe248c85');
                if ( "1" )
                {
                    $rowCustom_5791dfe248c85.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfe248c85.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfe248c85.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfe248c85.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfe248c85').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfe248c85"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfe248c85{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfe248c85{
        /* Set padding */
        padding-top:45px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfe248c85:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>

    <div

        id="rowCustom-5791dfe24a014"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfe24a014 = $("#rowCustom-5791dfe24a014");

                $rowCustom_5791dfe24a014.find('.row-image').remove();

                $rowCustom_5791dfe24a014.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfe24a014.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfe24a014.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfe24a014 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfe24a014 = $('#rowCustom-5791dfe24a014');
                    if($rowCustom_5791dfe24a014.find('.sloped-edge').length){
                        $rowCustom_5791dfe24a014.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791dfe24a88f" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfe24a88f0 cover" data-height="900" data-width="1260"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfe24a88f0"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfe24a88f0 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/Blog-2-lifting-man1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfe24a88f .imgBox-image,
                            #imageBoxSlider-5791dfe24a88f .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfe24a88f .imgBox-image.image-imageBoxSlider-5791dfe24a88f0 {
                            background-size: cover;
                        }

                    </style>

                </li>

                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfe24a88f1 cover" data-height="900" data-width="1260"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfe24a88f1"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfe24a88f1 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/Blog-5-running-woman1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfe24a88f .imgBox-image,
                            #imageBoxSlider-5791dfe24a88f .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfe24a88f .imgBox-image.image-imageBoxSlider-5791dfe24a88f1 {
                            background-size: cover;
                        }

                    </style>

                </li>

                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfe24a88f2 cover" data-height="900" data-width="1260"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfe24a88f2"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfe24a88f2 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/Blog-1-aerobic-woman1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfe24a88f .imgBox-image,
                            #imageBoxSlider-5791dfe24a88f .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfe24a88f .imgBox-image.image-imageBoxSlider-5791dfe24a88f2 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791dfe24a88f", "390");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfe24a014 = $('#rowCustom-5791dfe24a014');
                if ( "1" )
                {
                    $rowCustom_5791dfe24a014.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfe24a014.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfe24a014.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfe24a014.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfe24a014').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfe24a014"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfe24a014{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfe24a014{
        /* Set padding */
        padding-top:0px;padding-bottom:15px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfe24a014:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791dfe24c326"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfe24c326 = $("#rowCustom-5791dfe24c326");

                $rowCustom_5791dfe24c326.find('.row-image').remove();

                $rowCustom_5791dfe24c326.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfe24c326.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfe24c326.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfe24c326 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfe24c326 = $('#rowCustom-5791dfe24c326');
                    if($rowCustom_5791dfe24c326.find('.sloped-edge').length){
                        $rowCustom_5791dfe24c326.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791dfe24ccc7 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791dfe24ccc7{
        text-align:     left;

    }
    .md_text_style-5791dfe24ccc7 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791dfe24ccc7 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791dfe24ccc7 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791dfe24ccc7 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791dfe24ccc7 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791dfe24ccc7  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfe24c326 = $('#rowCustom-5791dfe24c326');
                if ( "1" )
                {
                    $rowCustom_5791dfe24c326.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfe24c326.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfe24c326.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfe24c326.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfe24c326').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfe24c326"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfe24c326{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfe24c326{
        /* Set padding */
        padding-top:30px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfe24c326:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/running-to-happines/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

 Served from: demo.massivedynamic.co @ 2016-07-22 08:57:06 by W3 Total Cache -->