<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Games &#8211; Demo General</title>
	<atom:link href="http://demo.massivedynamic.co/general/tag/games/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.massivedynamic.co/general</link>
	<description>Built By Massive Dynamic Theme</description>
	<lastBuildDate>Thu, 21 Jul 2016 09:05:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Push Up Fun</title>
		<link>http://demo.massivedynamic.co/general/push-up-fun/</link>
		<comments>http://demo.massivedynamic.co/general/push-up-fun/#respond</comments>
		<pubDate>Thu, 12 Nov 2015 08:05:30 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Photography]]></category>
		<category><![CDATA[Fair Play]]></category>
		<category><![CDATA[Gallery]]></category>
		<category><![CDATA[Games]]></category>
		<category><![CDATA[Video]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=120</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791d6f44c2f1"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f44c2f1 = $("#rowCustom-5791d6f44c2f1");

                $rowCustom_5791d6f44c2f1.find('.row-image').remove();

                $rowCustom_5791d6f44c2f1.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f44c2f1.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f44c2f1.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f44c2f1 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f44c2f1 = $('#rowCustom-5791d6f44c2f1');
                    if($rowCustom_5791d6f44c2f1.find('.sloped-edge').length){
                        $rowCustom_5791d6f44c2f1.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f44cac8 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f44cac8{
        text-align:     left;

    }
    .md_text_style-5791d6f44cac8 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f44cac8 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f44cac8 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f44cac8 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f44cac8 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f44cac8  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f44c2f1 = $('#rowCustom-5791d6f44c2f1');
                if ( "1" )
                {
                    $rowCustom_5791d6f44c2f1.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f44c2f1.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f44c2f1.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f44c2f1.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f44c2f1').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f44c2f1"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f44c2f1{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f44c2f1{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f44c2f1:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f44d341"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f44d341 = $("#rowCustom-5791d6f44d341");

                $rowCustom_5791d6f44d341.find('.row-image').remove();

                $rowCustom_5791d6f44d341.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f44d341.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f44d341.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f44d341 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f44d341 = $('#rowCustom-5791d6f44d341');
                    if($rowCustom_5791d6f44d341.find('.sloped-edge').length){
                        $rowCustom_5791d6f44d341.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f44d87f" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f44d87f0 cover" data-height="3009" data-width="5349"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f44d87f0"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f44d87f0 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1446867220627-6554405579cd1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f44d87f .imgBox-image,
                            #imageBoxSlider-5791d6f44d87f .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f44d87f .imgBox-image.image-imageBoxSlider-5791d6f44d87f0 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f44d87f", "370");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f44d341 = $('#rowCustom-5791d6f44d341');
                if ( "1" )
                {
                    $rowCustom_5791d6f44d341.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f44d341.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f44d341.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f44d341.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f44d341').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f44d341"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f44d341{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f44d341{
        /* Set padding */
        padding-top:40px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f44d341:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f44e3d5"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f44e3d5 = $("#rowCustom-5791d6f44e3d5");

                $rowCustom_5791d6f44e3d5.find('.row-image').remove();

                $rowCustom_5791d6f44e3d5.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f44e3d5.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f44e3d5.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f44e3d5 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f44e3d5 = $('#rowCustom-5791d6f44e3d5');
                    if($rowCustom_5791d6f44e3d5.find('.sloped-edge').length){
                        $rowCustom_5791d6f44e3d5.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f44e9cb .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f44e9cb{
        text-align:     left;

    }
    .md_text_style-5791d6f44e9cb .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f44e9cb .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f44e9cb .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f44e9cb .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f44e9cb .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f44e9cb  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f44e3d5 = $('#rowCustom-5791d6f44e3d5');
                if ( "1" )
                {
                    $rowCustom_5791d6f44e3d5.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f44e3d5.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f44e3d5.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f44e3d5.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f44e3d5').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f44e3d5"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f44e3d5{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f44e3d5{
        /* Set padding */
        padding-top:40px;padding-bottom:20px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f44e3d5:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f44f0ec"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f44f0ec = $("#rowCustom-5791d6f44f0ec");

                $rowCustom_5791d6f44f0ec.find('.row-image').remove();

                $rowCustom_5791d6f44f0ec.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f44f0ec.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f44f0ec.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f44f0ec .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f44f0ec = $('#rowCustom-5791d6f44f0ec');
                    if($rowCustom_5791d6f44f0ec.find('.sloped-edge').length){
                        $rowCustom_5791d6f44f0ec.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f44f63d" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f44f63d0 cover" data-height="1117" data-width="1900"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f44f63d0"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f44f63d0 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1445426463131-9dd114aa527b.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f44f63d .imgBox-image,
                            #imageBoxSlider-5791d6f44f63d .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f44f63d .imgBox-image.image-imageBoxSlider-5791d6f44f63d0 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f44f63d", "370");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f44f0ec = $('#rowCustom-5791d6f44f0ec');
                if ( "1" )
                {
                    $rowCustom_5791d6f44f0ec.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f44f0ec.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f44f0ec.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f44f0ec.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f44f0ec').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f44f0ec"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f44f0ec{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f44f0ec{
        /* Set padding */
        padding-top:25px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f44f0ec:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f44fffe"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f44fffe = $("#rowCustom-5791d6f44fffe");

                $rowCustom_5791d6f44fffe.find('.row-image').remove();

                $rowCustom_5791d6f44fffe.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f44fffe.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f44fffe.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f44fffe .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f44fffe = $('#rowCustom-5791d6f44fffe');
                    if($rowCustom_5791d6f44fffe.find('.sloped-edge').length){
                        $rowCustom_5791d6f44fffe.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f450601 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f450601{
        text-align:     left;

    }
    .md_text_style-5791d6f450601 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f450601 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f450601 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f450601 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f450601 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f450601  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f44fffe = $('#rowCustom-5791d6f44fffe');
                if ( "1" )
                {
                    $rowCustom_5791d6f44fffe.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f44fffe.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f44fffe.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f44fffe.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f44fffe').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f44fffe"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f44fffe{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f44fffe{
        /* Set padding */
        padding-top:30px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f44fffe:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/push-up-fun/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Sport Happines Fantasy</title>
		<link>http://demo.massivedynamic.co/general/sport-happines-fantasy/</link>
		<comments>http://demo.massivedynamic.co/general/sport-happines-fantasy/#respond</comments>
		<pubDate>Fri, 03 Jul 2015 11:37:45 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Photography]]></category>
		<category><![CDATA[Fantasy]]></category>
		<category><![CDATA[Games]]></category>
		<category><![CDATA[Gym]]></category>
		<category><![CDATA[Moment]]></category>
		<category><![CDATA[Sport]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=128</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791d6f45451b"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f45451b = $("#rowCustom-5791d6f45451b");

                $rowCustom_5791d6f45451b.find('.row-image').remove();

                $rowCustom_5791d6f45451b.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f45451b.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f45451b.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f45451b .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f45451b = $('#rowCustom-5791d6f45451b');
                    if($rowCustom_5791d6f45451b.find('.sloped-edge').length){
                        $rowCustom_5791d6f45451b.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f454bbe .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f454bbe{
        text-align:     left;

    }
    .md_text_style-5791d6f454bbe .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f454bbe .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f454bbe .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f454bbe .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f454bbe .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f454bbe  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f45451b = $('#rowCustom-5791d6f45451b');
                if ( "1" )
                {
                    $rowCustom_5791d6f45451b.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f45451b.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f45451b.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f45451b.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f45451b').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f45451b"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f45451b{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f45451b{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f45451b:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f455420"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f455420 = $("#rowCustom-5791d6f455420");

                $rowCustom_5791d6f455420.find('.row-image').remove();

                $rowCustom_5791d6f455420.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f455420.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f455420.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f455420 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f455420 = $('#rowCustom-5791d6f455420');
                    if($rowCustom_5791d6f455420.find('.sloped-edge').length){
                        $rowCustom_5791d6f455420.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">
                    .imagebox-full-5791d6f4559c8{
                text-align:left;
            }
        
        .imagebox-full-5791d6f4559c8 .title,
        .imagebox-full-5791d6f4559c8 .description{
            color:  #ffffff;
                    }
            </style>
    <div class="imagebox-full clearfix imagebox-full-5791d6f4559c8  align-left" style="background-image:url('http://demo.massivedynamic.co/general/wp-content/uploads/2015/12/13-laurent-thumbs.jpg');" >
                    <div class="overlay" style="background-color: rgba(0, 0, 0, 0.25)"></div>
                <div class="text-container" style="height: 280px;max-height: 280px">
            <h4 class="title">How to Take Good Photos?</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta, mi ut facilisis ullamcorper, magna risus vehicula augue, eget faucibus magna massa at justo. Sed quis augue ut eros tincidunt hendrerit eu eget nisl. Duis malesuada vehicula massa...
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta, mi ut facilisis ullamcorper, magna risus vehicula augue, eget faucibus magna massa at justo. Sed quis augue ut eros tincidunt hendrerit eu eget nisl.</p>
        </div>
        
    <style scoped="scoped">

                    #button-5791d6f455e7a{
                float: left;
            }
        
        /* Fade Square */

        
        /* Fade & Fill Oval */

        

        /* Slide */

        
            .button-5791d6f455e7a.slide{
                color: #fff;
            }

            .button-5791d6f455e7a.slide span{
                color: #9b9b9b;
            }

            .button-5791d6f455e7a.slide:hover .button-icon{
                color: #9b9b9b;
            }

            .button-5791d6f455e7a.slide:hover{
                background-color: #fff;
                border-color: #fff;
            }

        
        /* Come In */

        
        /* Animation */

        
        /* Flash Animate */

        

    </style>

    <div id="button-5791d6f455e7a" class="shortcode-btn " >
        
            <a class="button slide button-standard button-5791d6f455e7a" href="#" target="_self" >
                                    <i class="button-icon icon-arrow-right4"></i>
                                <span>
                    Read more                </span>
            </a>

        
    </div> <!-- End wrap button -->
        <div class="clearfix"></div>
        

            <script>

            "use strict";

            var $ = (jQuery),
                $btnIdSlide = $('.button-5791d6f455e7a');

            if ( $btnIdSlide.length )
                $btnIdSlide.attr("data-width", ".button-5791d6f455e7a");

            if ( typeof pixflow_btnSlide == 'function' )
            {
                pixflow_btnSlide( "button-5791d6f455e7a" );
            }

        </script>
    
            <script>
            "use strict";
            if ( typeof pixflow_imageboxFull == 'function' )
            {
                pixflow_imageboxFull();
            }
               if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
            </script>
    </div>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f455420 = $('#rowCustom-5791d6f455420');
                if ( "1" )
                {
                    $rowCustom_5791d6f455420.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f455420.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f455420.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f455420.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f455420').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f455420"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f455420{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f455420{
        /* Set padding */
        padding-top:45px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f455420:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f4564bc"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f4564bc = $("#rowCustom-5791d6f4564bc");

                $rowCustom_5791d6f4564bc.find('.row-image').remove();

                $rowCustom_5791d6f4564bc.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f4564bc.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f4564bc.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f4564bc .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f4564bc = $('#rowCustom-5791d6f4564bc');
                    if($rowCustom_5791d6f4564bc.find('.sloped-edge').length){
                        $rowCustom_5791d6f4564bc.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f456ab4 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f456ab4{
        text-align:     left;

    }
    .md_text_style-5791d6f456ab4 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f456ab4 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f456ab4 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f456ab4 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f456ab4 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f456ab4  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f4564bc = $('#rowCustom-5791d6f4564bc');
                if ( "1" )
                {
                    $rowCustom_5791d6f4564bc.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f4564bc.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f4564bc.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f4564bc.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f4564bc').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f4564bc"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f4564bc{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f4564bc{
        /* Set padding */
        padding-top:5px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f4564bc:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/sport-happines-fantasy/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

 Served from: demo.massivedynamic.co @ 2016-07-22 08:19:00 by W3 Total Cache -->