<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Challenge &#8211; Demo General</title>
	<atom:link href="http://demo.massivedynamic.co/general/tag/challenge/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.massivedynamic.co/general</link>
	<description>Built By Massive Dynamic Theme</description>
	<lastBuildDate>Thu, 21 Jul 2016 09:05:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Challenge Accepted</title>
		<link>http://demo.massivedynamic.co/general/challenge-accepted/</link>
		<comments>http://demo.massivedynamic.co/general/challenge-accepted/#respond</comments>
		<pubDate>Mon, 02 Feb 2015 09:13:57 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Gym]]></category>
		<category><![CDATA[Challenge]]></category>
		<category><![CDATA[Sport]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=103</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791dfdac8dbe"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfdac8dbe = $("#rowCustom-5791dfdac8dbe");

                $rowCustom_5791dfdac8dbe.find('.row-image').remove();

                $rowCustom_5791dfdac8dbe.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfdac8dbe.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfdac8dbe.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfdac8dbe .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfdac8dbe = $('#rowCustom-5791dfdac8dbe');
                    if($rowCustom_5791dfdac8dbe.find('.sloped-edge').length){
                        $rowCustom_5791dfdac8dbe.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791dfdac9590 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791dfdac9590{
        text-align:     left;

    }
    .md_text_style-5791dfdac9590 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791dfdac9590 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791dfdac9590 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791dfdac9590 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791dfdac9590 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791dfdac9590  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfdac8dbe = $('#rowCustom-5791dfdac8dbe');
                if ( "1" )
                {
                    $rowCustom_5791dfdac8dbe.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfdac8dbe.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfdac8dbe.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfdac8dbe.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfdac8dbe').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfdac8dbe"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfdac8dbe{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfdac8dbe{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfdac8dbe:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791dfdac9e0c"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfdac9e0c = $("#rowCustom-5791dfdac9e0c");

                $rowCustom_5791dfdac9e0c.find('.row-image').remove();

                $rowCustom_5791dfdac9e0c.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfdac9e0c.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfdac9e0c.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfdac9e0c .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfdac9e0c = $('#rowCustom-5791dfdac9e0c');
                    if($rowCustom_5791dfdac9e0c.find('.sloped-edge').length){
                        $rowCustom_5791dfdac9e0c.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791dfdaca3a5" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfdaca3a50 cover" data-height="1289" data-width="1920"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfdaca3a50"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text dark">  </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfdaca3a50 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1450297166380-cabe503887e5.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfdaca3a5 .imgBox-image,
                            #imageBoxSlider-5791dfdaca3a5 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        
                            #imageBoxSlider-5791dfdaca3a5 .imgBox-image.image-imageBoxSlider-5791dfdaca3a50:after {
                                opacity: 0;
                                transition: all .3s;
                                content: "";
                                display: block;
                                width: 100%;
                                height: 100%;
                            }

                            
                            
                                #imageBoxSlider-5791dfdaca3a5:hover .imgBox-image.image-imageBoxSlider-5791dfdaca3a50:after {
                                    background-color: rgba(0,0,0, .5);
                                    opacity: 1;
                                }

                                #imageBoxSlider-5791dfdaca3a5:hover .image-box-slider-hover-text{
                                    opacity: 1;
                                    color: #fff;
                                }

                            
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfdaca3a5 .imgBox-image.image-imageBoxSlider-5791dfdaca3a50 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791dfdaca3a5", "340");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1447492703109"><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791dfdacac36" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791dfdacac360 cover" data-height="1280" data-width="1920"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791dfdacac360"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text dark">  </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791dfdacac360 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1450297085576-21d98821f1fb.jpg");

                                                    }

                        
                            #imageBoxSlider-5791dfdacac36 .imgBox-image,
                            #imageBoxSlider-5791dfdacac36 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        
                            #imageBoxSlider-5791dfdacac36 .imgBox-image.image-imageBoxSlider-5791dfdacac360:after {
                                opacity: 0;
                                transition: all .3s;
                                content: "";
                                display: block;
                                width: 100%;
                                height: 100%;
                            }

                            
                            
                                #imageBoxSlider-5791dfdacac36:hover .imgBox-image.image-imageBoxSlider-5791dfdacac360:after {
                                    background-color: rgba(0,0,0, .5);
                                    opacity: 1;
                                }

                                #imageBoxSlider-5791dfdacac36:hover .image-box-slider-hover-text{
                                    opacity: 1;
                                    color: #fff;
                                }

                            
                        

                        /* Image Size */
                        #imageBoxSlider-5791dfdacac36 .imgBox-image.image-imageBoxSlider-5791dfdacac360 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791dfdacac36", "340");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfdac9e0c = $('#rowCustom-5791dfdac9e0c');
                if ( "1" )
                {
                    $rowCustom_5791dfdac9e0c.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfdac9e0c.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfdac9e0c.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfdac9e0c.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfdac9e0c').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfdac9e0c"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfdac9e0c{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfdac9e0c{
        /* Set padding */
        padding-top:65px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfdac9e0c:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791dfdacb635"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791dfdacb635 = $("#rowCustom-5791dfdacb635");

                $rowCustom_5791dfdacb635.find('.row-image').remove();

                $rowCustom_5791dfdacb635.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791dfdacb635.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791dfdacb635.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791dfdacb635 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791dfdacb635 = $('#rowCustom-5791dfdacb635');
                    if($rowCustom_5791dfdacb635.find('.sloped-edge').length){
                        $rowCustom_5791dfdacb635.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791dfdacbc38 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791dfdacbc38{
        text-align:     left;

    }
    .md_text_style-5791dfdacbc38 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791dfdacbc38 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791dfdacbc38 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791dfdacbc38 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791dfdacbc38 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791dfdacbc38  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791dfdacb635 = $('#rowCustom-5791dfdacb635');
                if ( "1" )
                {
                    $rowCustom_5791dfdacb635.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791dfdacb635.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791dfdacb635.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791dfdacb635.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791dfdacb635').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791dfdacb635"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791dfdacb635{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791dfdacb635{
        /* Set padding */
        padding-top:30px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791dfdacb635:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/challenge-accepted/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

 Served from: demo.massivedynamic.co @ 2016-07-22 08:56:58 by W3 Total Cache -->