<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fair Play &#8211; Demo General</title>
	<atom:link href="http://demo.massivedynamic.co/general/tag/fair-play/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.massivedynamic.co/general</link>
	<description>Built By Massive Dynamic Theme</description>
	<lastBuildDate>Thu, 21 Jul 2016 09:05:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Push Up Fun</title>
		<link>http://demo.massivedynamic.co/general/push-up-fun/</link>
		<comments>http://demo.massivedynamic.co/general/push-up-fun/#respond</comments>
		<pubDate>Thu, 12 Nov 2015 08:05:30 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Photography]]></category>
		<category><![CDATA[Fair Play]]></category>
		<category><![CDATA[Gallery]]></category>
		<category><![CDATA[Games]]></category>
		<category><![CDATA[Video]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=120</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791d6f1741bc"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f1741bc = $("#rowCustom-5791d6f1741bc");

                $rowCustom_5791d6f1741bc.find('.row-image').remove();

                $rowCustom_5791d6f1741bc.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f1741bc.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f1741bc.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f1741bc .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f1741bc = $('#rowCustom-5791d6f1741bc');
                    if($rowCustom_5791d6f1741bc.find('.sloped-edge').length){
                        $rowCustom_5791d6f1741bc.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f174994 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f174994{
        text-align:     left;

    }
    .md_text_style-5791d6f174994 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f174994 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f174994 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f174994 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f174994 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f174994  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f1741bc = $('#rowCustom-5791d6f1741bc');
                if ( "1" )
                {
                    $rowCustom_5791d6f1741bc.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f1741bc.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f1741bc.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f1741bc.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f1741bc').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f1741bc"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f1741bc{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f1741bc{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f1741bc:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f175206"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f175206 = $("#rowCustom-5791d6f175206");

                $rowCustom_5791d6f175206.find('.row-image').remove();

                $rowCustom_5791d6f175206.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f175206.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f175206.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f175206 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f175206 = $('#rowCustom-5791d6f175206');
                    if($rowCustom_5791d6f175206.find('.sloped-edge').length){
                        $rowCustom_5791d6f175206.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f17574a" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f17574a0 cover" data-height="3009" data-width="5349"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f17574a0"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f17574a0 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1446867220627-6554405579cd1.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f17574a .imgBox-image,
                            #imageBoxSlider-5791d6f17574a .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f17574a .imgBox-image.image-imageBoxSlider-5791d6f17574a0 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f17574a", "370");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f175206 = $('#rowCustom-5791d6f175206');
                if ( "1" )
                {
                    $rowCustom_5791d6f175206.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f175206.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f175206.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f175206.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f175206').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f175206"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f175206{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f175206{
        /* Set padding */
        padding-top:40px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f175206:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f1761c5"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f1761c5 = $("#rowCustom-5791d6f1761c5");

                $rowCustom_5791d6f1761c5.find('.row-image').remove();

                $rowCustom_5791d6f1761c5.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f1761c5.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f1761c5.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f1761c5 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f1761c5 = $('#rowCustom-5791d6f1761c5');
                    if($rowCustom_5791d6f1761c5.find('.sloped-edge').length){
                        $rowCustom_5791d6f1761c5.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f1767ae .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f1767ae{
        text-align:     left;

    }
    .md_text_style-5791d6f1767ae .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f1767ae .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f1767ae .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f1767ae .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f1767ae .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f1767ae  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f1761c5 = $('#rowCustom-5791d6f1761c5');
                if ( "1" )
                {
                    $rowCustom_5791d6f1761c5.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f1761c5.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f1761c5.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f1761c5.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f1761c5').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f1761c5"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f1761c5{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f1761c5{
        /* Set padding */
        padding-top:40px;padding-bottom:20px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f1761c5:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f176ec0"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f176ec0 = $("#rowCustom-5791d6f176ec0");

                $rowCustom_5791d6f176ec0.find('.row-image').remove();

                $rowCustom_5791d6f176ec0.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f176ec0.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f176ec0.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f176ec0 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f176ec0 = $('#rowCustom-5791d6f176ec0');
                    if($rowCustom_5791d6f176ec0.find('.sloped-edge').length){
                        $rowCustom_5791d6f176ec0.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f17740a" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f17740a0 cover" data-height="1117" data-width="1900"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f17740a0"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f17740a0 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/photo-1445426463131-9dd114aa527b.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f17740a .imgBox-image,
                            #imageBoxSlider-5791d6f17740a .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f17740a .imgBox-image.image-imageBoxSlider-5791d6f17740a0 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f17740a", "370");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f176ec0 = $('#rowCustom-5791d6f176ec0');
                if ( "1" )
                {
                    $rowCustom_5791d6f176ec0.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f176ec0.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f176ec0.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f176ec0.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f176ec0').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f176ec0"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f176ec0{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f176ec0{
        /* Set padding */
        padding-top:25px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f176ec0:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f177d03"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f177d03 = $("#rowCustom-5791d6f177d03");

                $rowCustom_5791d6f177d03.find('.row-image').remove();

                $rowCustom_5791d6f177d03.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f177d03.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f177d03.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f177d03 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f177d03 = $('#rowCustom-5791d6f177d03');
                    if($rowCustom_5791d6f177d03.find('.sloped-edge').length){
                        $rowCustom_5791d6f177d03.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f1782e5 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f1782e5{
        text-align:     left;

    }
    .md_text_style-5791d6f1782e5 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f1782e5 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f1782e5 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f1782e5 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f1782e5 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f1782e5  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f177d03 = $('#rowCustom-5791d6f177d03');
                if ( "1" )
                {
                    $rowCustom_5791d6f177d03.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f177d03.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f177d03.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f177d03.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f177d03').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f177d03"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f177d03{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f177d03{
        /* Set padding */
        padding-top:30px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f177d03:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/push-up-fun/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Standard Shape</title>
		<link>http://demo.massivedynamic.co/general/standard-shape/</link>
		<comments>http://demo.massivedynamic.co/general/standard-shape/#respond</comments>
		<pubDate>Tue, 14 Jul 2015 09:21:17 +0000</pubDate>
		<dc:creator><![CDATA[Massive Dynamic]]></dc:creator>
				<category><![CDATA[Photography]]></category>
		<category><![CDATA[Fair Play]]></category>
		<category><![CDATA[Moments]]></category>
		<category><![CDATA[Sport]]></category>
		<category><![CDATA[Video]]></category>

		<guid isPermaLink="false">http://demo.massivedynamic.co/gym/?p=107</guid>
		<description><![CDATA[Massive Dynamic has over 10 years of experience in Design, Technology and Marketing. We take pride in delivering Intelligent Designs and Engaging Experiences for clients all over the World.
]]></description>
				<content:encoded><![CDATA[<p>
    <div

        id="rowCustom-5791d6f17c241"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f17c241 = $("#rowCustom-5791d6f17c241");

                $rowCustom_5791d6f17c241.find('.row-image').remove();

                $rowCustom_5791d6f17c241.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f17c241.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f17c241.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f17c241 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f17c241 = $('#rowCustom-5791d6f17c241');
                    if($rowCustom_5791d6f17c241.find('.sloped-edge').length){
                        $rowCustom_5791d6f17c241.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f17c892 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f17c892{
        text-align:     left;

    }
    .md_text_style-5791d6f17c892 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f17c892 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f17c892 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f17c892 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f17c892 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f17c892  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
<p>Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour. Nothing seems, or feels new anymore. I’d live again, to feel that way once more. Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f17c241 = $('#rowCustom-5791d6f17c241');
                if ( "1" )
                {
                    $rowCustom_5791d6f17c241.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f17c241.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f17c241.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f17c241.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f17c241').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f17c241"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f17c241{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f17c241{
        /* Set padding */
        padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f17c241:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f17d0e7"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f17d0e7 = $("#rowCustom-5791d6f17d0e7");

                $rowCustom_5791d6f17d0e7.find('.row-image').remove();

                $rowCustom_5791d6f17d0e7.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f17d0e7.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f17d0e7.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f17d0e7 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f17d0e7 = $('#rowCustom-5791d6f17d0e7');
                    if($rowCustom_5791d6f17d0e7.find('.sloped-edge').length){
                        $rowCustom_5791d6f17d0e7.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f17d654" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f17d6540 cover" data-height="1028" data-width="1642"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f17d6540"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f17d6540 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/laure_de_sagazan_15.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f17d654 .imgBox-image,
                            #imageBoxSlider-5791d6f17d654 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f17d654 .imgBox-image.image-imageBoxSlider-5791d6f17d6540 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f17d654", "380");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f17d0e7 = $('#rowCustom-5791d6f17d0e7');
                if ( "1" )
                {
                    $rowCustom_5791d6f17d0e7.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f17d0e7.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f17d0e7.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f17d0e7.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f17d0e7').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f17d0e7"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f17d0e7{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f17d0e7{
        /* Set padding */
        padding-top:65px;padding-bottom:0px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f17d0e7:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f17e0ca"

        class="vc_row wpb_row vc_row wpb_row   sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f17e0ca = $("#rowCustom-5791d6f17e0ca");

                $rowCustom_5791d6f17e0ca.find('.row-image').remove();

                $rowCustom_5791d6f17e0ca.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f17e0ca.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f17e0ca.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f17e0ca .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f17e0ca = $('#rowCustom-5791d6f17e0ca');
                    if($rowCustom_5791d6f17e0ca.find('.sloped-edge').length){
                        $rowCustom_5791d6f17e0ca.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f17e6cc .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f17e6cc{
        text-align:     left;

    }
    .md_text_style-5791d6f17e6cc .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f17e6cc .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f17e6cc .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f17e6cc .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f17e6cc .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    Open Sans;
            font-style:     regular;
            font-weight:    400;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f17e6cc  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f17e0ca = $('#rowCustom-5791d6f17e0ca');
                if ( "1" )
                {
                    $rowCustom_5791d6f17e0ca.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f17e0ca.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f17e0ca.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f17e0ca.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f17e0ca').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f17e0ca"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f17e0ca{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f17e0ca{
        /* Set padding */
        padding-top:45px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f17e0ca:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f17ee19"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f17ee19 = $("#rowCustom-5791d6f17ee19");

                $rowCustom_5791d6f17ee19.find('.row-image').remove();

                $rowCustom_5791d6f17ee19.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f17ee19.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f17ee19.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f17ee19 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f17ee19 = $('#rowCustom-5791d6f17ee19');
                    if($rowCustom_5791d6f17ee19.find('.sloped-edge').length){
                        $rowCustom_5791d6f17ee19.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div id="imageBoxSlider-5791d6f17f387" data-speed="3000" data-effect="fade" class="img-box-slider  md-align-center" >

        <ul class="slides">
                            <li>

                    <div class="imgBox-image imgBox-image-main image-imageBoxSlider-5791d6f17f3870 cover" data-height="1019" data-width="1640"></div>
                    <a href="" class="imgBox-image imgBox-image-hover image-hover-imageBoxSlider-5791d6f17f3870"></a>

                                            <a target="_self" href="" class="image-box-slider-hover-text light"> Text Hover </a>
                    
                    <!-- Set image background -->
                    <style>

                        .imgBox-image.image-imageBoxSlider-5791d6f17f3870 {
                            background-image: url("http://demo.massivedynamic.co/general/wp-content/uploads/2015/11/laure_de_sagazan_24.jpg");

                                                    }

                        
                            #imageBoxSlider-5791d6f17f387 .imgBox-image,
                            #imageBoxSlider-5791d6f17f387 .image-box-slider-hover-text {
                                pointer-events: none;
                                cursor: default;
                            }

                        

                        /* Check if hover image effect selected */
                        

                        /* Check if hover text effect selected */
                        

                        /* Image Size */
                        #imageBoxSlider-5791d6f17f387 .imgBox-image.image-imageBoxSlider-5791d6f17f3870 {
                            background-size: cover;
                        }

                    </style>

                </li>

                    </ul>

   </div> <!-- End image box slider -->

    <script>
        $(document).ready(function() {
            if (typeof pixflow_imageBoxSlider == 'function') {
                pixflow_imageBoxSlider("imageBoxSlider-5791d6f17f387", "390");
            }
        });
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>

    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f17ee19 = $('#rowCustom-5791d6f17ee19');
                if ( "1" )
                {
                    $rowCustom_5791d6f17ee19.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f17ee19.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f17ee19.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f17ee19.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f17ee19').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f17ee19"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f17ee19{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f17ee19{
        /* Set padding */
        padding-top:0px;padding-bottom:15px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f17ee19:after{
            /* Set background color */
            background-color: rgb(249, 249, 249)        }
        
                    </style>

    <div

        id="rowCustom-5791d6f17fd03"

        class="vc_row wpb_row  controls-in  sectionOverlay vc_general vc_parallax vc_parallax- full_size"

        
        >
        
        <script type="text/javascript">

            "use strict";
            var $ = jQuery;

            $(document).ready(function(){

                if(typeof $ != 'function'){
                    $ = jQuery;
                }

                var isChrome = window.chrome,
                    $rowCustom_5791d6f17fd03 = $("#rowCustom-5791d6f17fd03");

                $rowCustom_5791d6f17fd03.find('.row-image').remove();

                $rowCustom_5791d6f17fd03.append(
                    '<div class="row-image row-image-normal "> </div>'
                );

                if (!("")) {
                    $rowCustom_5791d6f17fd03.find('.row-image').remove();
                }

                
                if (typeof pixflow_fitRowToHeight == 'function') {
                    pixflow_fitRowToHeight();
                }

                if (isChrome){
                    $rowCustom_5791d6f17fd03.find(".row-image-fixed").append('<Style> .row-image-fixed:after { position: fixed; background-attachment: inherit; } </style>');
                }

            });

        </script>


        <!-- Set background image -->
        <style scoped>

            /* Do this code for each id */
            

            /* Set background image */
            #rowCustom-5791d6f17fd03 .row-image {
                                                             background-position: center center;
                                                         }

            

            /* set Image Size */
            
        </style>

                        <script type="text/javascript">
                    "use strict";
                    var $ = jQuery;
                    var $rowCustom_5791d6f17fd03 = $('#rowCustom-5791d6f17fd03');
                    if($rowCustom_5791d6f17fd03.find('.sloped-edge').length){
                        $rowCustom_5791d6f17fd03.find('.sloped-edge').remove();
                    }
                </script>
            
                        <div class="wrap">

            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">    <style scoped="scoped">

        /* Solid Style*/
                    .md_text_style-5791d6f180303 .md-text-title {
                color: rgba(20,20,20,1);
            }
        
    .md_text_style-5791d6f180303{
        text-align:     left;

    }
    .md_text_style-5791d6f180303 .md-text-title{
            font-size:      32px;
            line-height:    40px;
            letter-spacing: 0px;
            margin-bottom: 0px;
            transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) ;
                    }
    .md_text_style-5791d6f180303 .md-text-title:not(.title-slider):hover{
        letter-spacing:  0px;
    }
    .md_text_style-5791d6f180303 .md-text-title-separator{
            margin-bottom:10px ;
            width: 110px;
            border-top: 5px solid rgb(0, 255, 153);
                    margin-left: 0;
            margin-right: auto;
                }

    .md_text_style-5791d6f180303 .md-text-content{
     margin-bottom: 25px;
    }

    .md_text_style-5791d6f180303 .md-text-content p{
            color:          rgb(70, 70, 70);
            font-size:      15px;
            line-height:    28px;
                    font-family:    ;
            font-style:     Array;
            font-weight:    Array;
            }

        

    </style>

    <div class="md-text-container md_text_style-5791d6f180303  md-align-center wpb_wrapper wpb_md_text_wrapper ui-md_text" >
        <div class="md-text">

            
                                    <div class="md-text-content"><p><p>Maybe just really lonely. Maybe I just want to be alone. Maybe loneliness is the only way to make that happen. Like having two pairs of eyes and just seeing the same thing. Seems like such a late hour.</p>
<p>Among the other things Fibonacci introduced to the Western world was a sequence of numbers discovered by 6th century Indian mathematicians. In that sequence each number is the sum of the previous two numbers – and it would later be named the Fibonacci Sequence. Using the numbers geometrically will create a logarithmic spiral. In case we didn’t lose you yet, we can actually show you that spiral – because it’s prominently placed right on the hood of the A9.</p>
</p></div>
            
            
        </div>

    </div>
    <script type="text/javascript">
        if(typeof pixflow_title_slider == 'function'){
            pixflow_title_slider();
        }
            if ( document.readyState === 'complete' ){
        if(typeof pixflow_shortcodeAnimation == 'function'){
            pixflow_shortcodeAnimation();
        }
        if(typeof pixflow_shortcodeAnimationScroll == 'function'){
            pixflow_shortcodeAnimationScroll();
        }
    }
        </script>
    </div></div></div>
            <script>
                var $ = jQuery;
                var $rowCustom_5791d6f17fd03 = $('#rowCustom-5791d6f17fd03');
                if ( "1" )
                {
                    $rowCustom_5791d6f17fd03.find('> .wrap').addClass('box_size_container');
                    $rowCustom_5791d6f17fd03.find('> .wrap').addClass('box_size_container');
                }
                else
                {
                    $rowCustom_5791d6f17fd03.find('> .wrap').removeClass('box_size_container');
                    $rowCustom_5791d6f17fd03.find('> .wrap').removeClass('box_size_container');
                }
                // Remove duplicate vide tags
                $('#rowCustom-5791d6f17fd03').find('.row-videobg').not('.row-videobg[data-row-id="rowCustom-5791d6f17fd03"]').remove();
            </script>

        </div> <!-- End wrap -->

    </div> <!-- End main row -->


    <style scoped>

        
        
        /* Do this code for each id */

        #rowCustom-5791d6f17fd03{
        /* Set Margin */
        margin-top:0px;margin-bottom:0px;        }


        #rowCustom-5791d6f17fd03{
        /* Set padding */
        padding-top:30px;padding-bottom:45px;padding-right:0px;padding-left:0px;        }

        .sectionOverlay.box_size{
            width: 80%        }

        .sectionOverlay .box_size_container{
            width: 80%        }

        #rowCustom-5791d6f17fd03:after{
            /* Set background color */
            background-color: rgba(255, 255, 255, 0)        }
        
                    </style>
</p>
]]></content:encoded>
			<wfw:commentRss>http://demo.massivedynamic.co/general/standard-shape/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

 Served from: demo.massivedynamic.co @ 2016-07-22 08:18:57 by W3 Total Cache -->