<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Demo General</title>
	<atom:link href="http://demo.massivedynamic.co/general/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.massivedynamic.co/general</link>
	<description>Built By Massive Dynamic Theme</description>
	<lastBuildDate>Wed, 13 Jul 2016 09:47:50 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Comment on Handmade Bagpack by Armin</title>
		<link>http://demo.massivedynamic.co/general/product/brown-coat/#comment-111</link>
		<dc:creator><![CDATA[Armin]]></dc:creator>
		<pubDate>Sun, 03 Jan 2016 12:19:29 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=97#comment-111</guid>
		<description><![CDATA[I bought it and it&#039;s awesome. But too heavy.]]></description>
		<content:encoded><![CDATA[<p>I bought it and it&#8217;s awesome. But too heavy.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on 2-Set Mug by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/mug/#comment-109</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 09:00:38 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=110#comment-109</guid>
		<description><![CDATA[Finally , a black but shiny bag for me]]></description>
		<content:encoded><![CDATA[<p>Finally , a black but shiny bag for me</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Wood Cups by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/wood-cups/#comment-108</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:58:23 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=109#comment-108</guid>
		<description><![CDATA[First Choice for Vintage Lovers]]></description>
		<content:encoded><![CDATA[<p>First Choice for Vintage Lovers</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Infinity Clock by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/infinity-clock/#comment-107</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:55:32 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=108#comment-107</guid>
		<description><![CDATA[im a big fan of big bags :)]]></description>
		<content:encoded><![CDATA[<p>im a big fan of big bags 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Geometric Lamps by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/black-bag/#comment-106</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:53:39 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=107#comment-106</guid>
		<description><![CDATA[i bet it look amazing with formal sets too]]></description>
		<content:encoded><![CDATA[<p>i bet it look amazing with formal sets too</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Conceret Light by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/fancy-set/#comment-105</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:50:53 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=106#comment-105</guid>
		<description><![CDATA[Beauty and passion with modern looking style :)]]></description>
		<content:encoded><![CDATA[<p>Beauty and passion with modern looking style 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Texture Pillow by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/blue-skirt/#comment-104</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:48:02 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=105#comment-104</guid>
		<description><![CDATA[Blue always excite me  , love it :)]]></description>
		<content:encoded><![CDATA[<p>Blue always excite me  , love it 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on 4 Leg Modern Chair by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/pillow-cover/#comment-102</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:33:24 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=102#comment-102</guid>
		<description><![CDATA[It look so new amazing and challenging to me :)]]></description>
		<content:encoded><![CDATA[<p>It look so new amazing and challenging to me 🙂</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Pyggy Bank by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/pyggy-bank/#comment-101</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:30:58 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=101#comment-101</guid>
		<description><![CDATA[Its a brand new looking product]]></description>
		<content:encoded><![CDATA[<p>Its a brand new looking product</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Minimal Table by adminshopfashion</title>
		<link>http://demo.massivedynamic.co/general/product/long-dress/#comment-100</link>
		<dc:creator><![CDATA[adminshopfashion]]></dc:creator>
		<pubDate>Mon, 09 Nov 2015 08:28:44 +0000</pubDate>
		<guid isPermaLink="false">http://demo.massivedynamic.co/shop-fashion/?post_type=product&#038;p=100#comment-100</guid>
		<description><![CDATA[That smile would be on my face very soon by wearing this brand new product]]></description>
		<content:encoded><![CDATA[<p>That smile would be on my face very soon by wearing this brand new product</p>
]]></content:encoded>
	</item>
</channel>
</rss>

<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced

 Served from: demo.massivedynamic.co @ 2016-07-22 07:40:38 by W3 Total Cache -->